<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @textbook.title %>
</p>

<p>
  <b>Isbn:</b>
  <%= @textbook.isbn %>
</p>

<p>
  <b>Course:</b>
  <%= @textbook.course.full_title %>
</p>


<%= link_to 'Edit', edit_textbook_path(@textbook) %> |
<%= link_to 'Back', textbooks_path %>
