<%= form_for(@student) do |f| %>
  <% if @student.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@student.errors.count, "error") %> prohibited this student from being saved:</h2>

      <ul>
      <% @student.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :firstname %><br />
    <%= f.text_field :firstname %>
  </div>
  <div class="field">
    <%= f.label :lastname %><br />
    <%= f.text_field :lastname %>
  </div>
  <div class="field">
    <%= f.label :emailaddress %><br />
    <%= f.text_field :emailaddress %>
  </div>
  
  
  <div class="field">
    <%= f.label :courses %><br />
    <% Course.find(:all).each do |c| %>
    <div>
    	<%= check_box_tag "student[course_ids][]", c.id, @student.courses.include?(c) %>
    	<%= c.full_title%>    	
    </div>
    <% end %>
  </div>
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
