<h1>Listing courses</h1>

<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent mattis pellentesque fermentum. Integer libero quam, consequat at iaculis id, accumsan vitae nulla. Vivamus et massa sit amet sem commodo hendrerit sed vestibulum lacus. Nulla facilisi. Phasellus dignissim mauris non elit pulvinar rhoncus. Donec commodo metus sed dolor semper vitae pretium velit convallis. Nam sodales cursus nibh, non lacinia dui ultrices condimentum. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Curabitur id odio nulla, eu vehicula risus. Fusce massa tellus, mattis quis imperdiet at, ultricies at turpis. Suspendisse luctus dui eu orci molestie convallis. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Vestibulum et diam odio, egestas bibendum nisi.</p>


<table>
  <tr>
    <th>Coursenumber</th>
    <th>Coursename</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @courses.each do |course| %>
  <tr>
    <td><%= course.coursenumber %></td>
    <td><%= course.coursename %></td>
    <td><%= link_to 'Show', course %></td>
    <td><%= link_to 'Edit', edit_course_path(course) %></td>
    <td><%= link_to 'Destroy', course, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Course', new_course_path %>
